.form-floating > .form-control:placeholder-shown:not(:focus) ~ label {
  transform: none;
  opacity: 0.65;
  color: black;
  opacity: 1 !important;
}

.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label {
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
  opacity: 1;
}

/* Remove fundo azul ao focar */
.form-control:focus {
  background-color: transparent;
  box-shadow: none;
}

.custom-input {
  background: #F8F8F8;
  border: 1px solid #D0D0D0;
  border-radius: 35px;
  opacity: 1;

  /* opcional: ajustar padding e altura para manter o label flutuante */
  height: 56px;
  padding: 1rem 1.25rem;
}

.form-floating label::after {
  background: #F8F8F8 ;
  color: black;
  opacity: 1 !important;
}

/* Remove o fundo branco quando o campo NÃO está focado */
.form-floating .form-control:not(:focus) ~ label::after {
  background: transparent;
}


/* Corrige o label flutuante para acompanhar o novo formato */
/* .form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label {
  transform: scale(0.85) translateY(-1rem) translateX(0.15rem);
  opacity: 0.8;
} */