section {
  background-color: #F2F2F2;
  padding: 42px 0 46px 0;
}

/* Títulos e texto */
.pre-titulo {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 56px;
  letter-spacing: 0;
  color: #252525;
  opacity: 1;
}

.titulo {
  margin-top: -20px !important;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 32px;
  letter-spacing: 0;
  color: #252525;
  opacity: 1;
}

.texto {
  margin-top: 15px !important;
  margin-bottom: 20px !important;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0;
  color: #252525;
  opacity: 1;
}

/* Indicadores do carrossel */
.custom-indicators {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 0.5rem;
}

.indicator-block {
  height: 8px;
  width: 8px;
  background-color: #08377A;
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.3s ease;
}

.indicator-block.active {
  height: 8px;
  width: 39px;
  background-color: #08377A;
}

.col-md-10 {
  margin: 0 139px;
  padding: 0 !important;
}

.col-md-6 {
  padding: 0 !important;
}

@media (max-width: 768px) {
  .titulo,
  .texto {
    margin: 0 !important;
    padding: 0 36px !important;
  }

  .carousel-inner {
    overflow: hidden;
  }

  body,
  html {
    overflow-x: hidden;
  }

  .col-md-10 {
    margin: 0 0 0 41px !important;
    padding-left: 16px !important;
    padding-top: 16px !important;

  }

}